<div class="mx-auto max-w-screen-lg	 px-10 py-16 sm:py-24 lg:max-w-screen-2xl	 mt-32">
  <div class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <% photos.forEach(photo=> { %>
      <div class=" shadow-lg shadow-slate-600 group relative block overflow-hidden rounded-lg">
        <div class="favoritesContainer">
          <% if(photo.userID===user._id) { if(photo.favorite) { %>
            <form action="removeFavorite" method="post" class="relative">
              <input type="hidden" name="photoId" value="<%= photo._id %>">
              <input type="hidden" name="origin" value="<%= origin %>">
              <button type="submit"
                class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-red-600 transition hover:text-gray-900/75">
                <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="h-5 w-5">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
              </button>
            </form>
            <% } else { %>
              <form action="addFavorite" method="post" class="relative">
                <input type="hidden" name="photoId" value="<%= photo._id %>">
                <input type="hidden" name="origin" value="<%= origin %>">
                <button type="submit"
                  class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                  </svg>
                </button>
              </form>
              <% } %>
                <% } %>
        </div>

        <a href="/views/preview/<%= photo._id %>?origin=<%= origin %>" class="overflow-hidden" >
          <img src="http://<%= process.env.HOSTNAME %>:<%= process.env.PORT %>/images/<%= photo.fileName %>" alt=""
            class="h-64 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72" />
        </a>


        <div class="relative  bg-slate-800  p-5">
          <span class="bg-gray-950 opacity-95 px-3 py-2 text-xs text-slate-100 font-medium">
            <%= photo.createdAt.toLocaleString() %>
          </span>
   
          <label class="add block bg-teal-100 opacity-95 mt-10 py-2 text-zinc-800 px-4 rounded-md text-center font-bold tracking-wide text-md w-2/3 mx-auto  hover:cursor-pointer">
            <input id="add" type="checkbox" class="selectPhoto sr-only rounded-md p-[9px] mb-[2px] me-1 "
              value="<%= photo._id %>">
            Add to album
          </label>

        </div>
      </div>
      <% }) %>
  </div>
  <div id="addAlbum" class=" w-full m-auto hidden">
    <label for="HeadlineAct" class="block text-sm mt-10 font-medium text-gray-900">
      Albums
    </label>
    <form action="/views/addToAlbum" method="post">
      <input type="hidden" name="photosId" id="photosId">
      <select name="albumId" class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm">
        <% albums.forEach(album=> { %>
          <option value="<%= album._id %>">
            <%= album.name %>
          </option>
          <% }) %>
      </select>
      <button
        class="flex mt-4 m-auto rounded bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500">Add
        to album</button>
    </form>
  </div>
</div>


<script>
  const checkboxes = document.querySelectorAll(".selectPhoto");
  const checkBoxesArray = Array.from(checkboxes);
  const addAlbumContainer = document.querySelector("#addAlbum");

  checkboxes.forEach((checkbox => {
    checkbox.addEventListener("change", () => {
      if (checkbox.checked) {
        checkbox.parentElement.classList.add("bg-teal-500")
        addSelectedPhoto()
      } else {
        checkbox.parentElement.classList.remove("bg-teal-500")
      }
        const anyChecked = checkBoxesArray.some(checkbox => checkbox.checked);
        addAlbumContainer.classList.toggle("hidden", !anyChecked);
    })
  }))


  const addSelectedPhoto = () => {
    const selectedPhotos = document.querySelectorAll('.selectPhoto:checked');
    const selectedPhotosId = [...selectedPhotos].map(photo => photo.value)
    document.querySelector('#photosId').value = selectedPhotosId.join(',');

  }
</script>